.social-login
    button.social-login--github
        a(href=routes.github)
            span
                i.fab.fa-github
            |Continue with Github
    button.social-login--facebook
        a(href="/auth/google")
            span.google
                //- i.fab.fa-google
                .logo
                    .g-line
                    .red
                    .yellow
                    .green
                    .blue
                div Continue with Google