.master-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .video-detail__container {
    display: flex;
    max-width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    .video__player {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      video {
        max-width: 100%;
      }
    }
    .video__info {
      width: 100%;
      max-width: 100%;
      margin-top: 10px;
      button {
        border: none;
        background-color: #3498db;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        color: white;
        font-weight: bold;
        border-radius: 5px;
        padding: 4px;
        box-sizing: border-box;
        margin-bottom: 15px;
      }
      h5 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      p {
        font-size: 17px;
        margin-bottom: 10px;
      }
      span {
        font-size: 15px;
        margin-bottom: 10px;
      }
    }
    .video__author {
      width: 100%;
      max-width: 100%;
      margin-top: 10px;
      a,
      span {
        margin-left: 5px;
        color: #3498db;
        font-weight: bold;
      }
    }
    .video__comments {
      font-size: 17px;
      margin-bottom: 10px;
    }
  }
}
