mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=video.videoFile controls="contol")
            h4.videoBlock__title=video.title
            if video.views === 1
                h6.video__views 1 view
            else
                h6.video__views #{video.views} views